@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.woff"), url("./fonts/Roboto-Regular.woff2");
}

h1,
h2,
h3,
h4,
p,
ul,
li,
body {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B1AB86;
    padding: 1em 2em 1em 0;
    font-family: "Roboto";
}

.header h1 {
    color: #0A400C;
    font-size: 4em;
}

.app-name {
    display: flex;
    align-items: center;
    gap: 2em;
    margin: 1em;
}

.app-name img {
    width: 5.5em;
    /*filter: invert(1) brightness(2);*/
}

.add-new-btn {
    height: 4em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1em;
    background-color: #0A400C;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Roboto";
}

.add-new-btn:hover,.form-submit:hover {
    background-color: #0F5A11;
    cursor: pointer;
}

.add-new-btn:active,.form-submit:active {
    transform: scale(1.05);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    min-height: 85vh;
}

.sidebar {
    color: #0A400C;
    font-size: 2em;
    font-family: "Roboto";
    padding: 0.5em 1.5em;
    background-color: #819067;
}

.sidebar h2 {
    margin-bottom: 1em;
}

.shelf {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    padding: 1em;
    grid-column: 2/6;
    background-color: #FEFAE0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    grid-auto-flow: row;
    grid-auto-rows: 145px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #E6D8C3;
    border-left: 1em #B1AB86 solid;
    border-radius: 1em;
    color: #0A400C;
    padding: 1em;
}

.card h3 {
    font-size: 1.5em;
}

.card p {
    font-size: 1.2em;
}

.button-div{
    display: flex;
    gap: 2em;
}

.toggle-btn{
    font-size: 1em;
    background-color:#0A400C;
    color: white;
    font-family: "Roboto";
    border: 1px white solid;
    padding: 0.5em;
    border-radius: 1em;
    min-width: 3em;
    font-weight: bold;
    text-align: center;
}

.remove-btn{
    font-size: 1em;
    background-color: red;
    color: white;
    font-family: "Roboto";
    border: 1px white solid;
    padding: 0.5em;
    border-radius: 1em;
    min-width: 3em;
    font-weight: bold;
}

.remove-btn:hover{
    cursor: pointer;
    background-color:#AA2F33 ;
}

.remove-btn:active{
    transform: scale(1.05);
}

.toggle-btn:hover{
    cursor: pointer;
    background-color:#0F5A11 ;
}

.toggle-btn:active{
    transform: scale(1.05);
}
.read{
    box-shadow: 5px 5px 5px rgba(41, 174, 45, 0.6);
}

.unread{
    box-shadow: 5px 5px 5px rgba(223, 37, 17, 0.663);
}

dialog {
    border: none;
    border-radius: 3em;
}

form {
    font-family: "Roboto";
    padding: 2em;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    width: 75vh;
}

.form-row {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

dialog input {
    background-color: #E6D8C3;
    font-size: 1em;
    width: 15em;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
}

.read-status {
    display: grid;
    grid-template-columns: max-content 1em;
    gap: 0.5em;
}

dialog input[type="checkbox"] {
    width: auto;
}

dialog label {
    font-size: 1em;
    font-family: "Robot";
    margin-bottom: 0.5em;
}

dialog button {
    font-family: "Roboto";
    font-size: 1em;
    height: 1.5em;
    width: 7em;
    margin-right: auto;
    border: none;
    background-color: #0A400C;
    color: white;
    border-radius: 1em;
    font-weight: bold;
}

::backdrop {
    background-color: rgb(10, 64, 12, 0.6);
}





